.cancelbtn
{
    border:1px black;
    background-color: rgb(179, 177, 174);
    min-width:100px;
}
.verifybtn
{
    border:1px solid rgb(63, 63, 63);
    background-color: black;
    color:white;
    min-width:100px;
}

.otpfield
{
   min-width:450px;
}
mat-label
{
    font-size:12px;
    color:black;
}
.flow
{
    float:right;
    padding:auto;
    margin:auto;
}

