.example-full-width{
  min-width: 63%;
  max-width: 63%;
}

.demo-chip-list{
  /* min-width: 63%;
  max-width: 80%; */
  width:102%;
}

.container{
  margin-top:2%;
  margin-right:15%;
  /* margin-left:-0.2%; */
}

.button{

}

.btn-dark{
  min-width: 180px;
}

.btn-secondary{
  min-width: 150px;
}

.field{
  /* margin-left:-35%;
  width:30%; */
}

