
   <div class="sect">

    <div fxLayout="column" fxFlex="100%">
      <div class="one" fxLayout="row" fxFlex="15%" fxFill>
        <p class="title" (click)="onClick()"><img class="logo" src="../../assets/logo2.png">LearnZilla</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        
          <div class="two">
            <p class="heading"><span>Register</span></p>
            <div class="divison">
              <div calss="row">
    
    
                <div [formGroup]="registerUser" class="signinform">
                  <label class="labelstyle" for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" formControlName="emailId" placeholder="Enter email" maxlength="30">
    
                  <label  class="labelstyle" for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" formControlName="password" placeholder="Password" maxlength="15">
    
                  <div class="btnpos">
                  <button class="btn-grad-o" (click)="onRegister()" ><span>Register</span></button>
                  </div>
                  <div class="register">
         
                    <div class="info">
                      <a mat-button [routerLink]="'/login'" ><p style="font-size:18px">Already have an account ? Login here..</p></a>
                   </div>
                </div>
    
    
            </div>
          </div>
        </div>
      </div>
  
         
        
  
  
      </div>
    </div>
  </div>